$bodyBg: #e8e8e8;
$titleTextColor: #5f2086;
$titleSize: 61px;
$mainBgColor: #3d0063;
$subtitleColor: #d9d9da;
$subtitleHeight: 48px; 
$submitSize: 23px;
$itemMinHeight: 300px;
$reminderBtnSize: 20px;
$reminderMinHeight: 50px;
$notifyMinHeight: 40px;