@import '../fonts';
@import '../vars';
@import '../mixins';

.category{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 30px;
    width: 100vw;
    margin: 0 auto;
    @include media-breakpoint-down(md){
        flex-direction: column;
    }
    @include media-breakpoint-down(xs){
        width: 100vw;
        padding: 0 5px;
    }
    &_indent{
        margin-top: 40px;
    }

    &__title{
        @include text;
        padding: 5px 0;
        border-bottom: 2px solid #141414;
    }

    &__item{
        min-height: $itemMinHeight;
        flex: 0 0 49%;
        @include media-breakpoint-down(md){
            min-height: 100px;
        }
        @include media-breakpoint-down(xs){
            margin-bottom: 45px;
        }
    }
    
}