@import '../mixins';

.footer{
    width: 100%;
    box-sizing: border-box;
    padding: 25px;
    background-color: #464646;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title{
        @include text;
        color: #fff;
        margin-bottom: 15px;
    }

    &__social{
        display: flex;
        justify-content: flex-end;
    }

    &__item{
        width: 50px;
        height: 50px;
        transition: .2s ease;

        &:focus{
            outline: none;
        }

        &:hover{
            transform: scale(1.05, 1.05);
        }

        &-vk{
            background-image: url('../img/vk.svg');
            background-size: cover;
        }

        &-inst{
            background-image: url('../img/inst.svg');
            background-size: cover;
        }
    }
}